<!DOCTYPE html>
<head>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="offcanvas.css" rel="stylesheet"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<html lang="en">
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">PUBmatch</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#about">About</a></li>
        <li class="dropdown">
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<title>{% block title %}{% endblock %}</title>
<ul>
    <div style='float: left; width: 40%;'>
    <h3> PubMed Links </h3>
    </div>
</ul>
<ul>
    <div style='float: left; width: 50%;'>
    <h3> Cosine Similarity Score </h3>
    </div>
</ul>
<ul>
{% for pmid in pmids %}
<div style='float: left; width: 50%;'
    <li><a href="{{ pmid[0] }}" class="text-primary" target="_blank">{{ pmid[0] }}</a></li>
</div>
<div style='float: left; width: 40%;'
    <li><a href="{{ pmid[0] }}" class="text-primary" target="_blank">{{ pmid[1][1] }}</a></li>
</div>
<!-- <div style='float: left; width: 30%;' -->
<!--     <li><a href="{{ pmid[0] }}" class="text-primary">{{ pmid[1][2] }}</a></li> -->
<!-- </div> -->
{% endfor %}
</ul>
    
</html>
